<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">

<title>Social Network Skeleton app</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>


<body>


<div class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">About myself</a>
    </div>
        <ul class="nav navbar-nav navbar-right">
        <% if (currentUser) { %>
            <li>
                <a href="/edit">
                    Hello, <%= currentUser.name() %>
                </a>
            </li>
            <li><a href="/logout">Log Out</a></li>
        <% } else { %>
            <li><a href="login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
        <% }  %>
        </ul>
    </div>


<% include _messages %>

<h1>Welcome to Learn About Me!</h1>

<% users.forEach(function(user) { %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/users/<%= user.username %>">
        <%= user.name() %>
      </a>
    </div>
    <% if (user.bio) { %>
      <div class="panel-body"><%= user.bio %></div>
    <% } %>
  </div>

<% }) %>

<% include _footer %>
