<% include _header %>

<h1>Add a new post</h1>

<form class="form-horizontal" action="/posts/new" method="post">
   <h3>Post subject :<h3>

  <input name="postSubject" type="text" class="form-control"
   placeholder="Subject of your post : Be creative!">
   <br />
   <h3>Post body :<h3>
  <textarea name="postBody" class="form-control"
   placeholder="What would you like to share with us?">
  </textarea>
      <br />
   <br />

  <input type="submit" value="Publish!" class="btn
   btn-primary btn-block">
</form>

<% include _footer %>

<!--
 postSubject: { type: String, required: true, unique: true},
    postBody: { type: String, required: true},
    postSlug: { type: String, required: true},
    postStatus: { type: Boolean, required: true},
    postPrivacy: { type: Boolean, required: true},
    postLikes: { type: Boolean, required: true},
    createdAt: { type: Date, default: Date.now},
    updatedAt: { type: Date, default: Date.now}
    -->