<% include _header %>
<div class="well bs-component">






<% if ((currentUser) && (currentUser.id === user.id)) { %>
    <a href="/edit" class="pull-right">Edit your profile</a>
    <% } %>

<author><%= user.name() %></author>
<pre>Member since <%= user.createdAt %></pre>

<% if (user.bio) { %>
    <p><%= user.bio %></p>
    <% } %>
</div>
<% include _footer %>