<% include _header %>


<% users.forEach(function(user) { %>


<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> User : <a href="/users/<%= user.username %>">
        <%= user.name() %>  <%= user.username %>
      </a></h3>
            </div>
            <div class="panel-body">
         
    <% if (user.bio) { %>
<p><bold> Biography :</bold> </p>
    <%= user.bio %>
    <% } %>
              </div>
          </div>

<% }) %>

<% include _footer %>
