<% include _header %>


<% posts.forEach(function(post) { %>


<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Title : <a href="/users/<%= post.slug %>">
        <%= post.title() %>  
      </a></h3>
            </div>
            <div class="panel-body">
         
    <% if (post.body) { %>
<p><bold> Body :</bold> </p>
    <%= post.body %>
    <% } %>
              </div>
          </div>

<% }) %>

<% include _footer %>
